body {
    background-color: lightgreen;
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px yellow;
}

.Note {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 23px;
    font-weight: bold;
}

.copy_right_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 3;
    color: white;
    background-color: green;
    text-align: center;
    font-size: 20px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px yellow;
}